:root {
/* --- Main colors --- */
  --green: #6bbd84;
  --blue: #85c8e3;
  --red: #ff8080;
  --pink: #ffb6c1;

/* --- Header variables --- */
  --header-color: #6bbd84;

/* --- UserInput variables --- */
  --user-input-main-color: lightblue;
  --user-input-darker-color: #85c8e3;
  --user-input-button-size: 100px;

/* --- Timer variables --- */
  --timer-height: 20px;
  --timer-width: 100%;
  --timer-background-color: #f0eeec;
  --timer-color: #90cda3;
  --timer-darker-color: #6d9975;
}
